/* ----------------- FONTS / ICONS -----------------*/

@font-face {
    font-family: 'Schoolbell';
    src: url(../../font/Schoolbell.ttf);
}

/* ----------------- GENERAL -----------------*/

.card {
	margin-top: 10%;
	min-height: 420px;
}

.card .card-action {
	position: absolute;
	bottom: 0;
	width: 100%;

}


/* ----------------- START -----------------*/

div.intro {
	position: absolute;
	text-align: center;
   	top: 50%;
   	left: 50%;
    margin-right: -50%;
   	transform: translate(-50%, -50%);
}

p.title {
	padding-bottom: 20px;
	font-size: 42px;
	font-weight: bold;
	font-family: 'Schoolbell';
}

/* ----------------- QUIZ PROPER -----------------*/

#score {
	font-size: 24px;
	text-align: center;
	color: #FFEB3B;
}

#score,
#question,
#options,
.btn.next-question ~ span {
	font-family: 'Schoolbell';
}

#question {
	font-size: 28px;
}

#options {
	padding-left: 80px;
}

#options li {
	margin-bottom: 16px;
}

#options li:last-child {
	margin-bottom: 24px; /* 50px */
}

#options label {
	font-size: 20px;
}

.btn {
	margin-left: 80px;
}

.btn.next-question ~ span {
	margin-left: 1em;
	font-size: 20px;
}

.btn.next-question ~ span[ng-show="correctAns"] {
	color: #00E676;
}

.btn.next-question ~ span[ng-show="!correctAns"] {
	color: #ff8a80;
}

/* ----------------- END -----------------*/

div.over {
	position: absolute;
	text-align: center;
   	top: 50%;
   	left: 50%;
    margin-right: -50%;
   	transform: translate(-50%, -50%);
}

.over h2 {
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 42px;
	font-weight: bold;
	font-family: 'Schoolbell';
}

div.over .score {
	font-size: 94px;
	font-family: 'Schoolbell';
	text-align: center;
	color: #FFEB3B;
	margin-bottom: 16px;
}

.back {
	margin-left: 0;
}

.back:last-child {
	margin-left: 10px;
}